body {
    margin: auto;
   
  }
  .topnav{
    background-color:black;
    position: absolute;
    width: 100%;
    top:0; 
  }
  .topnav a:hover {
    
    color: rgb(128, 127, 127);
  }
  .topnav a {  
    color: #ffffff;
    padding: 28px 32px;
    text-decoration: none;
    font-size: 21px;
    margin-left: -100%;
   
  }
  img.logo{
    display: block;
    width: 13%;
    margin-left: 42.5%;
    margin-right: auto;
    
  }
  ul{/*navbar selection */
    background-color:black;
    text-align: center;
   margin-top: -50px;
  }
  li{
    display: inline-block;
    width: 90px; 
    padding: 14px;
  
  }
  
 .products{
    width: auto;
    height: 730px;
    margin-top: 19%;
 }
  * {
    box-sizing: border-box;
  }
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 20px;
    height: 390px;
    
    
  }
  h1{
    text-align: center;
    font-family:  'Anek Latin', sans-serif;
    font-size: 40px;
    padding-bottom: 1%;
    margin-top: 17%;

  }
  img.p:hover,img.p:focus{
    transform: scale(1.2);
  }
  div.sentence{
    width: 100%;
    height: 280px;
    position: relative;
    background-color: rgb(43, 108, 86);
    margin-top: 11%;

    
  }
  h2{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }

  h1.a1{
    padding-top: 111px;
    font-family: 'Anek Latin', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 38px;
    
  }
a.view{
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 2.5px;
  color: rgb(21, 196, 187);
  position: relative;
}

div.view-button{
  position: relative;
  z-index: 999;
  border-style: solid;
  border-color: rgb(25, 226, 216);
  border-radius: 31px;
  margin-left: 30%;
  bottom: 1%;
  width: 150px;
  height: 30px;
  opacity: 0.7;
}
.view:hover{
    color: rgb(0, 146, 97);
}

p{
    font-size: 21px;
    font-family: 'Lucida Sans';
}

.about{
    width: 60%;
    position: relative;
    z-index: 1000;
    min-height: 400px;
    margin-inline-start: 130%;
}
.container{
  border: 1px solid #000000;
  width: 50%;
  height: 558px;
  position: relative;
  margin-top: 100px;
  background-image: url(./images-hanna/3back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#hanna_img{
    float: left;
    position: relative;
    left: 50%;
    top: 10%;
    z-index: 1000;
    background-color: rgb(43, 108, 86);
    padding: 5px;
    width: 70%;
   
}
/**+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.description-p{
  display: grid;
  position: reletive;
  place-items: center;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 39px;
  width: 90%;
  position: relative;
  height: 537px;
}

.grid-item {

  font-size: 30px;
  text-align: center;
  margin-left: 5%;
}

.description{
  width: auto;
  height: auto;
}
.description h1{
  font-size: 20px;
  margin-top: 13px;
}
.description p{
  font-size: 16px;
  margin-top: 10px;
}


.container-2 {
  width: 635px;
  height: 456px;
  display: flex;
  justify-content: center;
  box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 
  0 9px 46px 8px rgb(0 0 0 / 12%), 
  0 11px 15px -7px rgb(0 0 0 / 20%);
}

.container-2 img {
  width: 100%;
  z-index: 99;
}

button {
  height: 11%;
  border: none;
  outline: none;
  background: rgba(96, 215, 151, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
  transition: 0.6s ease;
  border-radius: 14px 14px 14px 14px;
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

#right-btn {
  margin: auto 0 auto -2em;
}

#right-btn .arrow {
  transform: rotate(-45deg);
}

#left-btn {
  z-index: 0;
  margin: auto -2em auto 0;

 
}

#left-btn .arrow {
  transform: rotate(135deg);
}

.footer{
  width: auto;
  height: 80px;
  background-color: rgb(43, 108, 86);
  text-align: center;
  margin-top: 8%;
  font-size: smaller;
}
/**^^^^^^^^^^^^^^contact^^^^^^^^^^^^^^^^^^^^^^^^^*/

.container-contact{
  width: 1100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 790px;
  
    margin-top: 18%;
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 
  0 9px 46px 8px rgb(0 0 0 / 12%), 
  0 11px 15px -7px rgb(0 0 0 / 20%);
}

.contact-column {
  float: left;
  width: 50%;
  padding: 55px;
  height: 790px; 
}
.form-group{
  margin-top: 5%;
}
.form-control{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background: transparent;
  font-size: 16px;
  outline:none!important;
}
.btn{
display: inline-block;
font-weight: 400;
text-align: center;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
color: #fff;
background-color: #218f5a;
border-color: #759083;

}
.contact-column h1{
  font-family: 'Anek Latin', sans-serif;
  font-size: 25px;
  line-height: 1.8;
  font-weight: normal;
  color: #000000;
  margin-top: 5%;
  text-align: left;
}
.contact-column p{
  font-family: 'Anek Latin', sans-serif;
    font-size: 17px;
    line-height: 1.8;
    font-weight: normal;
    color: #666666;
}
.column span{
  font-size: 50px;
  text-align: center;
  margin-left: 31%;
  position: relative;
  top: 7;
  bottom: 30%;
  color: #cd4646;
}
.column1{
  height: 145px; 
  padding: 3px;
  flex: 33.33%;
}
.h5{
  font-size: 40px;
}
/**__________________________________image fade -coming soon*/
.container-comingsoon {
  background-color: #2c4f49;
     width: 100%;
     height: 839px;
     margin-top: 13%;
}

.image-comingsoon {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
 
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text{
  font-family: 'Anek Latin', sans-serif;
}

.container-comingsoon:hover .image {
  opacity: 0.3;
}

.container-comingsoon:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d00;
  color: white;
  font-size: 40px;
  padding: 16px 32px;
  font-family: 'Anek Latin', sans-serif;
}
.about h1{
  text-align: left;

}
.comingsoon.img{
  width: auto;
  background-size: cover;
  height: -webkit-fill-available;
}
/** _________________media_________________________**/
@media (max-width: 700px) {
  .li, .topnav{
    background-color:black;
    position: absolute;
    width: 100%;
    top:0; 
    flex-direction: column;
  }
  .image-comingsoon {   
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  h1{
    font-size: 35px;
  }
  h1.a1{
    font-size: 29px;
  }
  .container-comingsoon{
       width: 100%;
       background-color: black;
       height: 839px;
       margin-top: 61%;
  }
.middle{
      position: relative;
      top: 20%;
}
  .contact-column{
    width: auto;
    height: auto;
  }
  ul{
    width:43%;
    margin-top:3px;
  }
  .topnav a{
   
    margin-left: 98%;
  }
  img.logo{
    width:90px;
    margin-left: 40%;
  }
  .container-contact{
    width: 356px;
    padding-right: 4px;
    padding-left: 4px;
    margin-right: auto;
    margin-left: auto;
    height: 120%;
    margin-top: 18%;
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
  }
  .contact-column.img{
    width: 347px;
    height: 550px;
    margin-top: 56%;
    background-size: cover;
  }
  .row{
    
    display: table;
  }
  .column1{
    height: 80px;
  }
  .footer{
    width: auto;
    height: 80px;
  }
  /**homepage**/
  .products{
    margin-top: 70%;
    width: auto;
    height: -webkit-fill-available;
  }
  .column{
    padding: 2px;
    height: 55%;
  }
  div.sentence{
    margin-top: 0%;
  }
  .about_me{
    margin-top: 0%;
    position: relative;
  }
  .p1, .fhotos{
    display: none;
  }
  #hanna_img{
    width: 50%;
    left: 25%;
  }
  .about{
    width:40%;
    display: contents;
    
  }
  .about p{
    width: 390px;
    height: 428px;
    padding: 5% 15% 5% 15%;
    font-size: 17px;
    margin-top: 0%;
    color: white;
    background: black;
    text-align: center;
  }
  .container{
    width: auto;
    height: 780px;

  }
  .about h1{
    font-size: 30px;
    margin-top: 75%;
    padding: 0% 5%;
    text-align: center;
    color: white;
  }
  .comingsoon.img{
    width: auto;
    background-size: cover;
    height: -webkit-fill-available;
  }
  }


  /**______________**/
  .mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Caption text */
.middle .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #71717100;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
